<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      fieldset {
        width: 200px;
        height: 50px;
      }

  
    </style>
  </head>
  <body>
    <h2>post로 정보 받기</h2>
    <form action="/register1" method="post">

      <label for="name">
        이름
        <input type="text" name="name" id="name" placeholder="이름" required/>
      </label>

      <fieldset>
        <legend>성별</legend>
        <label for="gender"></label>
        <input type="radio" name="gender" id="gender" value="남자" required> 남자
        <input type="radio" name="gender" id="gender" value="여자" required> 여자
      </fieldset>

      <fieldset>
        <legend>생년월일</legend>
        <label for="year"></label>
        <select name="birthYear" id="year">
            <% for(let i = 0; i< 30;i++) { %>
            <option value="<%=2010-i%>">
            <%= 2010-i%>
            </option>
            <% } %>
        </select>
       년
        
       <label for="month"></label>
        <select name="birthMonth" id="month">
            <% for(let i = 1; i <=12; i++) {%>
            <option value="<%= i%>">
            <%= i %>
            </option>
            <% } %>
        </select>
       월

       <label for="date"></label>
        <select name="birthDate" id="date">
            <% for(let i = 1; i <= 31; i++) {%>
            <option value="<%= i%>">
            <%= i %>
            </option>
            <% } %>
        </select>
       일
      </fieldset>

      <fieldset>
        <legend>관심사</legend>
        <label for="favor"></label>
        <input type="checkbox" name="favor" id="favor" value="여행"> 여행
        <input type="checkbox" name="favor" id="favor" value="패션"> 패션
        <input type="checkbox" name="favor" id="favor" value="음식"> 음식
      </fieldset>
      
        <fieldset>
        <legend>색</legend>
        <label for="color"></label>
        <input type="color" name="color" id="color">
      </fieldset>

        <fieldset>
        <legend>피로도</legend>
        <label for="range"></label>
        <input type="range" name="range" id="range">
      </fieldset>


    </br>
      <button>회원가입</button>
    </form>
  </body>
</html>
